<div class="centered-content">
    <div class="modal-box has-background-light">
        <h1 class="title">
            Create a new task
        </h1>

        <input type="text" #taskTitleInput class="input has-background-light is-medium" placeholder="Enter Task name">
        <br> <br>
        <div>
            <button class="button is-medium" routerLink="/">Cancel</button>
            <button class="button is-primary has-text-white is-medium" (click)="createTask(taskTitleInput.value)"> Create </button>
        </div>
    </div>
</div>