<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Lists
            </h1>

           
            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]" routerLinkActive="is-active">
                  <p>{{ list.title }}</p>
                </a>
        
              </div>
        


            <button class="button is-primary has-text-white"  routerLink="/new-list">  + New List</button>
        </div>


        <div class="task-list-container has-background-light">
            <div *ngIf="tasks">
                <h1 class="title has-text-primary">
                    Tasks
                </h1>
    
                <!-- Task -->
                <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)" [ngClass]="{'completed':task.completed}">
                  <p>{{task.title}}</p>
                </div>
                <h1 class="empty-state-text" *ngIf="tasks.length===0">
                    There are no tasks here. Click Add button to create new Task
                </h1>
                <button class="circle-add-button button is-primary" routerLink="./new-task">
                    <img src="../../../assets/plus-icon.svg" class="has-text-white">
                </button>
            </div>

            <div *ngIf="!tasks">
                <h1 class="empty-state-text">
                    Select a list from sidebar
                </h1>
            </div>
        </div>
    </div>
</div>